@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

.clock {
    font-family: 'Cutive Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 1.0s;
}

.clock div {
    transition: color 1.0s;
}

.colorCode {
    font-size: min(15vw, 150px);
}

.getTime {
    font-size: min(7vw, 70px);
}
